.grid {
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid black;

}

.row {
  height: 100px;
  display: flex;
}

.tile {
  width: 100px;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../assets/grid.jpg');
  background-size: 400px 400px;
  background-repeat: no-repeat;
}

.tile:hover {
  background-color: #EAEAEA;
}

.up {
  background-color: #90C3D4;
}

.right {
  background-color: #D4A190;
}

.down {
  background-color: #A1D490;
}

.left {
  background-color: #C390D4;
}
